* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.left-part {
    width: 600px;
    text-align: left;
    margin-top: 95px;
}

.left-part img {
    width: 350px;
    margin-bottom: 20px;
    margin-left: -35px;
    
}

.left-part p {
    font-size: 24px;
    font-weight: 400;
    color: #1c1e21;
    line-height: 1.5;
    margin-top: -40px;
}

.right-part {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

form {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    margin-bottom: 20px;
}

input[type='text'], input[type='password'] {
    width: 100%;
    padding: 14px;
    margin-bottom: 12px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 16px;
}

.login {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.f-pswd {
    display: block;
    margin: 10px 0;
    color: #1877f2;
    font-size: 14px;
}

.line {
    margin-bottom: 10px;
    margin-top: -10px;
    border-top: 1px solid #dddfe2;
}

.btn-2 {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    background-color: #42b72a;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.h3 {
    font-size: 14px;
    color: #1c1e21;
    text-align: center;
}

.h3 a {
    color: #1c1e21;
    font-weight: bold;
}

